.add-page_ {
    margin: 10px;
}
.controlers {
    margin: 20px 0px;
}
span.title-link label {
    width: 90px;
    text-transform: uppercase;
}
input.page-title_ {
    width: 370px;
}
input.page-link_ {
    border-style: solid;
    border-color: #bbbbbb;
    border-width: 1px;
    background-color: #eaeaea;
    margin-left: 2px;
}
.mainpage_ li a {
    padding: 10px;
    display: inline-block;
}
.mainpage_ li{
    list-style-type: none;
}
.pagelist_ {
    outline: 1px solid #a4a4a4;
    margin: 5px;
    padding: 5px;
    width: 100%;
    position: relative;
}
.mainpage_ {
    width: 100%;
    display: block;
}
.deletepage_ {
    text-align: right;
    position: absolute;
    right: 34px;
    top: 0;
}
.deletepage_ i {
    margin-right: 5px;
}
.page_link_{
    text-transform: lowercase;
}