.addMenu_btn {
	padding: 3px 14px;
    right: 0px;
    position: absolute;
    margin: -3px 10px 5px 0px;
}
.addnewMenu_btn{
    padding: 3px 14px;
    right: 0px;
    position: absolute;
    margin: -3px 10px 5px 0px; 
}
.leftMenu_ li {
	list-style-type: none;
    border-bottom-style: ridge;
    border-width: 1px;
    border-color: #d0d0d0;
    padding: 15px;
    position: relative;
}

.addMenu_input input {
    display: inline-block;
    margin: 5px 0px;
    padding: 5px;
}
.dropdown-cus{
    width: 300px;
    height: auto;
    /*background-color: rgb(40, 124, 181);*/
    background-color: rgb(220, 220, 220);
    color: black;
    cursor: pointer;
    padding: 5px 20px;
    position: relative;
    margin: 5px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #086baf;
    border-radius: 5px;

}
.dropdown-cus i{
    right: 0;
    position: absolute;
    margin-right: 10px;
    margin-top: 5px;
}
.dropdown-cus input{
    width: 100%;
    margin-bottom: 25px;

}
.h-label hr{
    margin-top: 5px;
}
.hidden{
    display: none;
}
.dropdown-cus span {
    width: 100%;
    padding: 6px 0px;
    transition: .5s;
    display: inline-block;
}
.h-label label {
    font-size: 12px;
    font-style: italic;
    margin: 0;
}
.menu_delete{
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
    color: dimgrey;
    font-size: 20px;
}
.menu_delete span{
    text-align: right;
}
.menu_delete span:hover{
    cursor: pointer;
    color: #3b7cb6;
}

div#sortable_nav li {
    list-style-type: none;
}
.menu-title {
    margin: 30px 0px;
}
.menu-title input{
    background-color: transparent;
    border: none;
}
input#save_menu {
    margin: 10px 0px;
}