/*LOGIN*/
.login-form {
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.26);
    width: 250px;
    padding: 20px;
    color: white;
}
.login-form input:nth-child(1),
.login-form input:nth-child(3) {
    width: 100%;
    border-style: none;
    border-radius: 0px !important;
    padding: 10px;
    margin: 5px 0px;
    background-color: #dedede;  
}
.login-form input[type="submit"] {
    width: 100%;
    border-style: none;
    border-radius: 0px !important;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
    background-color: #86C232;
    color: white;
}
.login-form input[type="submit"]:hover {
    background-color: #f5a74c;
    color: white;
    transition: .3s;

}
.error-message {
    color: white;
    text-transform: uppercase;
    margin: 5px;
}
.login-form .title {
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
    /* outline: 1px solid red; */
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one 🙂       */
  display: flex;
  align-items: center;
}

.g-recaptcha>div>div{
       transform: scale(0.7);
        transform-origin: 0;
}

