/*CMS*/
.header-sen {
    width: 100%;
    height: 100vh;
    background-color: #034d80;
}
ul.menu-sen li {
    list-style-type: none;
    padding: 0px 0px 0px 5px;
}
ul.menu-sen {
    padding: 0;
}
ul.menu-sen li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}
ul.menu-sen li a:hover{
    background-color: rgba(114, 205, 128, 0.24);
}
ul.menu-sen {
    padding: 0px;
}
ul.menu-sen i {
    color: white;
    padding: 0px 10px 0px 0px ;
}

.dash-container{
  /*background-color: red;*/
  height: 100vh;
}
.pd-left10{
padding: 0px 0px 0px 10px !important;
}
.admin-header {
    background-color: #0794f3;
    box-shadow: 1px 0px 4px 0.5px;
    width: 100%;
}


/*MEDIA QUERIES*/
/* col-lg */
@media (max-width:1200px){

}

/* col-md */
@media (max-width:992px){

}

/* col-sm */
@media (max-width:768px){

}

/* col-xs */
@media (max-width:576px){

}